* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container {
  width: 80%;
  margin: auto;
  padding: 20px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.container h2 {
  margin-bottom: 15px;
  color: #222;
}
.container p {
  margin-bottom: 20px;
  color: #333;
  line-height: 1.5;
}
.btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  &:hover {
    background-color: #45a049;
  }
  &:focus {
    outline: none;
    box-shadow: 0 0 5px #4CAF50;
  }
  &:active {
    background-color: #3e8e41;
  }
  &:disabled {
    background-color: #a5d6a7;
    pointer-events: none;
  }
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 20px;
}
.card {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 15px 20px;
  text-align: left;
}
.card h3 {
  margin: 10px 0;
}
.card p {
  color: #555;
  line-height: 1.25;
}
/* Navbar styles */
.navbar {
  background-color: #333;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  position: sticky;
}
.navbar .logo {
  color: #f2f2f2;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  margin-inline: 15px;
}
.navbar .nav-links {
  display: flex;
}
.navbar a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar a:hover {
  background-color: #ddd;
  color: black;
}
.navbar a.active {
  background-color: #4CAF50;
  color: white;
}

/*Preformatted text and code styles*/
code {
  font-family: 'Courier New', Courier, monospace;
  background-color: #f4f4f4;
  padding: 2px 4px;
  border-radius: 3px;
}
pre {
  font-family: 'Courier New', Courier, monospace;
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 4px;
  overflow-x: auto;
  margin-bottom: 20px;
}
.content {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}
.content h2 {
  margin-bottom: 10px;
  color: #222;
}
.content p {
  margin-bottom: 15px;
  color: #444;
  line-height: 1.6;
}
ol, ul li {
  margin-left: 24px;
  margin-bottom: 10px;
  color: #444;
  line-height: 1.6;
}